@charset "UTF-8";

/* ======================================================

　ファイル名：blog.css
　概要：SNOWAY BLOGのCSSに関する記述をしています

====================================================== */


/* -------------------------------------------------------
 * ブログ一覧
 * ----------------------------------------------------- */

.blogDl dt{
	padding: 10px 10px 5px 10px;
	font-weight: bold;
	line-height: 16px;
}
.blogDl dd{
	padding: 5px 10px 10px 10px;
}
.blogDl .check{
	background: #eee;
}
.blogDl dd img{
	float: left;
	margin: 0 10px 5px 0;
}
.blogDl dt img{
	vertical-align: middle;
	margin-left: 10px;
}
.blogDl .ski{
	padding-left: 20px;
	background: transparent url(/img/common/icn/icn_ski_16.gif) no-repeat left top;
}
.blogDl .boa{
	padding-left: 20px;
	background: transparent url(/img/common/icn/icn_board_16.gif) no-repeat left top;
}
