@charset "UTF-8";

/* ======================================================

　ファイル名：info.css
　概要：SNOWAYの/info/以下のCSSを記述しています

====================================================== */


/* -------------------------------------------------------
 * PR System
 * ----------------------------------------------------- */

.prsysBox{
	padding: 10px 18px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.prsysBox p{
	margin-bottom: 10px;
	line-height: 1.4;
}
.prsysBox2{
	padding: 10px;
	background: #e9edf9;
	color: #1e4ac7;
	margin-bottom: 10px;
}
.prsysBox2 li{
	font-weight: bold;
	padding: 3px 30px;
	color: #000;
}
.gelandepr{
	float: left;
	width: 356px;
}
.shoppr{
	float: right;
	width: 356px;
}
.prsysBox p.title{
	font-size: 120%;
	font-weight: bold;
	margin-top: 30px;
}
.gelandepr dl,
.shoppr dl{
	padding: 10px 8px;
	line-height: 1.4;
}
.gelandepr dt,
.shoppr dt{
	font-size: 80%;
	margin-bottom: 10px;
}
.gelandepr dt strong,
.shoppr dt strong{
	color: #0034fe;
	font-size: 180%;
}
.gelandepr dd ul.prlist,
.shoppr dd ul.prlist{
	margin: 10px 0;
}
.gelandepr dd ul.prlist li,
.shoppr dd ul.prlist li{
	font-weight: bold;
	padding: 3px 0;
}
.gelandepr dd ul.prmore li,
.shoppr dd ul.prmore li{
	background: transparent url(/img/common/icon-arrow.gif) no-repeat left center;
	padding: 3px 15px;
}
