ul#my-menu{
  margin: 5px 0 10px 0;
}
ul#my-menu li{
  background: #eeeeee;
  padding: 3px 5px;
  margin: 2px;
}
ul#my-menu li.on{
  background: #2d5dc6;
}
ul#my-menu li.on a{
  color: #fff;
}
.my-table{
  margin: 10px 0;
  border-collapse: collapse;
  width: 100%;
}
.my-table td,
.my-table th{
  border: 1px solid #9ab8f7;
}
.my-table td.end{
  white-space: nowrap;
  background: url(/img/common/tbl_bg1.gif) repeat left top;
  width: 100px;
  text-align: center;
}
.my-table td.my-date{
  width: 1%;
  white-space: nowrap;
}
.my-table th{
  white-space: nowrap;
  background: url(/img/common/tbl_bg1.gif) repeat left top;
}
