@charset "UTF-8";

/* ======================================================

　ファイル名：st.css
　概要：STATICなページのCSSを記述しています

====================================================== */


/* -------------------------------------------------------
 * 利用規約
 * ----------------------------------------------------- */

.section p{
	line-height: 140%;
}
.stConLi li,
.stConLi2 li{
	margin-bottom: 7px;
}
.stConLi2{
	margin-left: 30px;
}