@charset "UTF-8";

body {
	color: #ffffff;
	background: #ccc;
	background: url(/img/test/bg_a.jpg) repeat 50% top;
/*
	background: #fed7fb url(/img/test/16.png) repeat-y 50% top;
	-webkit-background-size: 100% auto;
*/
}

a {
	color: #ffffff;
}

.box a,
a.box {
	color: #006fff;
}


h1.blog-title {
	font-size: 20px;
	color: #fff;
	background: url(/img/test/title_bg.png) repeat 50% top;
	height: 50px;
	background: url(/img/test/img.png) no-repeat 50% center;
	height: 120px;
}


p.pagetop {}

p.pagetop a {}


/* box parts */
.box {
	color: #000000;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0px 1px 2px #989898;
	-webkit-box-shadow: 0px 1px 2px #989898;
	-moz-box-shadow: 0px 1px 2px #989898;
	background-color: rgba(255,255,255,0.7);
}

.box-padding {
	padding: 10px;
}

.box-margin {
	margin-right: 10px;
	margin-left: 10px;
}

.title-color {}

.sub-color {
	 color: #4e4e4e;
}



/* article list mode */
ul.article-list-outer.box,
ul.article-list-outer.box-padding,
ul.article-list-outer.box-margin {
	margin: 0;
	padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-color: transparent;
}

ul.article-list-gallery {
	
}


/* article list 1 */
ul.article-list-calender li.article-list {}

ul.article-list-calender div.article-calender span.article-calender-month {
	background: #da4a40;
}



/* plugin box */


