@charset "UTF-8";
/* ======================================================
 *
 *　ファイル名：parts.css
 *　概要：SNOWAYのパーツ部品を記述しています
 *
 *====================================================== */
/* -------------------------------------------------------
 * 帯
 * ----------------------------------------------------- */
/* line 14, ../../sass/titan/parts.sass */
.ttlL {
  background: #eeeeee;
  border-left: 5px solid #3366cc;
  border-bottom: 1px solid #cccccc;
  padding: 4px 10px 4px 5px;
}

/* line 20, ../../sass/titan/parts.sass */
.ttlM {
  border-left: 8px solid #b1c1e3;
  padding: 4px 10px 4px 5px;
}

/* line 24, ../../sass/titan/parts.sass */
.ttlR {
  background: #84a2dc url(/img/common/bg_ttl_hdr.gif) no-repeat left top;
}

/* line 27, ../../sass/titan/parts.sass */
.ttlR750 {
  background: #84a2dc url(/img/common/bg_ttl_hdr750.gif) no-repeat left top;
}

/* line 30, ../../sass/titan/parts.sass */
.ttlR720 {
  background: #84a2dc url(/img/common/bg_ttl_hdr720.gif) no-repeat left top;
}

/* line 33, ../../sass/titan/parts.sass */
.ttlR250 {
  background: #84a2dc url(/img/common/bg_ttl_hdr250.gif) no-repeat left top;
}

/* line 36, ../../sass/titan/parts.sass */
.ttlR300 {
  background: #84a2dc url(/img/common/bg_ttl_hdr300.gif) no-repeat left top;
}

/* line 39, ../../sass/titan/parts.sass */
.ttlR480 {
  background: #84a2dc url(/img/common/bg_ttl_hdr480.gif) no-repeat left top;
}

/* line 42, ../../sass/titan/parts.sass */
.ttlR265 {
  background: #84a2dc url(/img/common/bg_ttl_hdr265.gif) no-repeat left top;
}

/* line 45, ../../sass/titan/parts.sass */
.ttlR320 {
  background: #84a2dc url(/img/common/bg_ttl_hdr320.gif) no-repeat left top;
}

/* line 48, ../../sass/titan/parts.sass */
.ttlR355 {
  background: #84a2dc url(/img/common/bg_ttl_hdr355.gif) no-repeat left top;
}

/* line 51, ../../sass/titan/parts.sass */
.ttlR365 {
  background: #84a2dc url(/img/common/bg_ttl_hdr365.gif) no-repeat left top;
}

/* line 54, ../../sass/titan/parts.sass */
.ttlR380 {
  background: #84a2dc url(/img/common/bg_ttl_hdr380.gif) no-repeat left top;
}

/* line 57, ../../sass/titan/parts.sass */
.ttlR230 {
  background: #84a2dc url(/img/common/bg_ttl_hdr230.gif) no-repeat left top;
}

/* line 60, ../../sass/titan/parts.sass */
.ttlR430 {
  background: #84a2dc url(/img/common/bg_ttl_hdr430.gif) no-repeat left top;
}

/* line 63, ../../sass/titan/parts.sass */
.ttlR650 {
  background: #84a2dc url(/img/common/bg_ttl_hdr650.gif) no-repeat left top;
}

/* line 66, ../../sass/titan/parts.sass */
.ttlR650g {
  background: #a5d788 url(/img/common/bg_ttl_hdr650g.gif) no-repeat left top;
}

/* line 69, ../../sass/titan/parts.sass */
.ttlR,
.ttlR750,
.ttlR720,
.ttlR250,
.ttlR300,
.ttlR480,
.ttlR265,
.ttlR320,
.ttlR355,
.ttlR365,
.ttlR380,
.ttlR230,
.ttlR430,
.ttlR650,
.ttlR650g {
  color: white;
  padding-left: 20px;
  line-height: 22px;
  padding-top: 1px;
  text-shadow: 0 1px 1px #3333cc;
}

/* line 90, ../../sass/titan/parts.sass */
.ttlR a:link,
.ttlR a:visited,
.ttlR750 a:link,
.ttlR750 a:visited,
.ttlR650 a:link,
.ttlR650 a:visited,
.ttlR720 a:link,
.ttlR720 a:visited,
.ttlR250 a:link,
.ttlR250 a:visited,
.ttlR230 a:link,
.ttlR230 a:visited,
.ttlR320 a:link,
.ttlR320 a:visited,
.ttlR355 a:link,
.ttlR355 a:visited,
.ttlR380 a:link,
.ttlR380 a:visited,
.ttlR480 a:link,
.ttlR480 a:visited,
.ttlR430 a:link,
.ttlR430 a:visited {
  color: white !important;
}

/* line 114, ../../sass/titan/parts.sass */
.ttlSS {
  font-size: 90%;
  color: #666666;
  margin-bottom: 5px;
  font-weight: normal;
}

/* line 120, ../../sass/titan/parts.sass */
.subTitle {
  background: #eeeeee;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* line 125, ../../sass/titan/parts.sass */
span.ttlSpan {
  margin-left: 5px;
  font-size: 83%;
  font-weight: normal;
}

/* -------------------------------------------------------
 * ボックス
 * ----------------------------------------------------- */
/* line 134, ../../sass/titan/parts.sass */
.ttlBox {
  border: 1px solid #cccccc;
  background: #eeeeee;
  padding: 10px;
}

/* line 139, ../../sass/titan/parts.sass */
.ttlBoxC {
  border: 1px solid #cccccc;
  padding: 10px;
}

/* line 143, ../../sass/titan/parts.sass */
.ttlBoxN {
  border: 1px solid #cccccc;
}

/* line 146, ../../sass/titan/parts.sass */
.boxC250T {
  background: #82a2dd url(/img/common/box/box_maru250_top.gif) no-repeat left top;
  padding-top: 12px;
}

/* line 150, ../../sass/titan/parts.sass */
.boxC250B {
  background: #82a2dd url(/img/common/box/box_maru250_bottom.gif) no-repeat left bottom;
  padding-bottom: 12px;
}

/* line 154, ../../sass/titan/parts.sass */
.boxC250 {
  background: #82a2dd url(/img/common/box/box_maru250.gif) repeat-y left top;
  padding: 0 10px;
}

/* line 158, ../../sass/titan/parts.sass */
.boxC480T {
  background: #82a2dd url(/img/common/box/box_maru480_top.gif) no-repeat left top;
  padding-top: 12px;
}

/* line 162, ../../sass/titan/parts.sass */
.boxC480B {
  background: #82a2dd url(/img/common/box/box_maru480_bottom.gif) no-repeat left bottom;
  padding-bottom: 12px;
}

/* line 166, ../../sass/titan/parts.sass */
.boxC480 {
  background: #82a2dd url(/img/common/box/box_maru480.gif) repeat-y left top;
  padding: 0 10px;
}

/* line 170, ../../sass/titan/parts.sass */
.boxK {
  border-top: 2px solid #83a2d9;
  border-bottom: 5px solid #83a2d9;
  border-right: 5px solid #83a2d9;
  border-left: 5px solid #83a2d9;
}

/* line 176, ../../sass/titan/parts.sass */
.boxKin {
  border: 1px solid #cccccc;
  padding: 10px;
  background: white;
}

/* line 181, ../../sass/titan/parts.sass */
.boxG {
  border-top: 2px solid #9bde78;
  border-bottom: 5px solid #9bde78;
  border-right: 5px solid #9bde78;
  border-left: 5px solid #9bde78;
}

/* line 187, ../../sass/titan/parts.sass */
.boxGin {
  border: 1px solid #cccccc;
  padding: 10px;
  background: white;
}

/* line 192, ../../sass/titan/parts.sass */
.boxC750T {
  background: #82a2dd url(/img/common/box/box_maru750_top.gif) no-repeat left top;
  padding-top: 12px;
}

/* line 196, ../../sass/titan/parts.sass */
.boxC750B {
  background: #82a2dd url(/img/common/box/box_maru750_bottom.gif) no-repeat left bottom;
  padding-bottom: 12px;
}

/* line 200, ../../sass/titan/parts.sass */
.boxC750 {
  background: #82a2dd url(/img/common/box/box_maru750.gif) repeat-y left top;
  padding: 0 10px;
}

/* 左MAP */
/* line 205, ../../sass/titan/parts.sass */
.geboxM {
  background: transparent url(/img/common/box/box_gray250.gif) repeat-y left top;
}

/* line 208, ../../sass/titan/parts.sass */
.geboxB {
  background: transparent url(/img/common/box/box_gray250_bottom.gif) no-repeat left bottom;
  padding-bottom: 10px;
}

/* line 212, ../../sass/titan/parts.sass */
.geboxT {
  background: transparent url(/img/common/box/box_gray250_top.gif) no-repeat left top;
  padding: 10px 10px 0 10px;
}

/* -------------------------------------------------------
 * テーブル
 * ----------------------------------------------------- */
/* フォーム用テーブル */
/* line 221, ../../sass/titan/parts.sass */
.form-table th span {
  font-size: 80%;
  color: red;
}

/* line 225, ../../sass/titan/parts.sass */
.form-table td span.td-text {
  font-size: 90%;
  color: #666666;
}

/* line 229, ../../sass/titan/parts.sass */
.form-table {
  border-collapse: collapse;
  width: 100%;
}

/* line 233, ../../sass/titan/parts.sass */
.form-table th,
.form-table td {
  padding: 5px;
  border: 1px solid #9ab8f7;
}

/* line 238, ../../sass/titan/parts.sass */
.form-table th {
  white-space: nowrap;
  background: url(/img/common/tbl_bg1.gif) repeat left top;
}

/* line 242, ../../sass/titan/parts.sass */
.form-table input,
.form-table textarea {
  border: 1px solid #9ab8f7;
  scrollbar-base-color: #9ab8f7;
  padding: 5px;
  box-sizing: border-box;
}

/* line 249, ../../sass/titan/parts.sass */
.form-table input.input-300 {
  width: 300px;
}

/* line 252, ../../sass/titan/parts.sass */
.form-table input.noborder {
  border: 0;
}

/* line 255, ../../sass/titan/parts.sass */
input.input-submit2,
input.input-submit {
  padding: 3px 10px;
  margin: 10px 0;
  color: white;
  border: 1px solid #cccccc;
  letter-spacing: 3px;
}

/* line 263, ../../sass/titan/parts.sass */
input.input-submit {
  background: #4271d0;
}

/* line 266, ../../sass/titan/parts.sass */
input.input-submit2 {
  background: #666666;
}

/* line 269, ../../sass/titan/parts.sass */
.form-submit-left {
  float: left;
  width: 45%;
  text-align: center;
}

/* line 274, ../../sass/titan/parts.sass */
.form-submit-right {
  float: right;
  width: 45%;
  text-align: center;
}

/* リスト型ストライプテーブル */
/* line 280, ../../sass/titan/parts.sass */
.stripeTable th {
  padding: 5px;
  font-weight: normal;
  color: #666666;
  white-space: nowrap;
}

/* line 286, ../../sass/titan/parts.sass */
.stripeTable td {
  padding: 5px;
}

/* line 289, ../../sass/titan/parts.sass */
.stripeTable tr:hover td {
  background: #feff99 !important;
}

/* line 292, ../../sass/titan/parts.sass */
.stripeTable tr:hover td.none {
  background: none !important;
}

/* line 295, ../../sass/titan/parts.sass */
.stripeTable .check {
  background: #eeeeee;
}

/* line 298, ../../sass/titan/parts.sass */
.stripeTable .just {
  width: 1%;
}

/* line 301, ../../sass/titan/parts.sass */
.stripeTable2 th,
.stripeTable2 td {
  background: #f9f9f9;
  padding: 5px;
}

/* line 306, ../../sass/titan/parts.sass */
.stripeTable2 th {
  font-weight: normal;
  white-space: nowrap;
  border-right: 2px solid white;
}

/* line 311, ../../sass/titan/parts.sass */
.stripeTable2 th.check,
.stripeTable2 td.check {
  background: #dddddd;
}

/* line 315, ../../sass/titan/parts.sass */
.stripeTable2 th.title,
.stripeTable2 td.title {
  background: #999999;
  text-align: center;
  color: white;
  padding: 2px 5px;
}

/* line 322, ../../sass/titan/parts.sass */
.stripeTable2 th.end {
  border: none;
}

/* line 325, ../../sass/titan/parts.sass */
.stripeTable2 .sep {
  border-right: 2px solid white;
}

/* line 328, ../../sass/titan/parts.sass */
.stripeTable3 th {
  padding: 5px;
  font-weight: normal;
  color: #666666;
  white-space: nowrap;
  background: #e9e9e9;
}

/* line 335, ../../sass/titan/parts.sass */
.stripeTable3 td {
  background: #e9e9e9;
  padding: 5px;
}

/* line 339, ../../sass/titan/parts.sass */
.stripeTable3 th.check,
.stripeTable3 td.check {
  background: #dddddd;
}

/* line 343, ../../sass/titan/parts.sass */
.stripeTable3 th.rankTitle {
  text-align: right;
}

/* line 346, ../../sass/titan/parts.sass */
.stripeTable3 th.rankTitle img {
  vertical-align: middle;
  margin-right: 3px;
}

/* -------------------------------------------------------
 * マージン
 * ----------------------------------------------------- */
/* line 354, ../../sass/titan/parts.sass */
.mb5 {
  margin-bottom: 5px;
}

/* line 357, ../../sass/titan/parts.sass */
.mb10 {
  margin-bottom: 10px;
}

/* line 360, ../../sass/titan/parts.sass */
.mb20 {
  margin-bottom: 20px;
}

/* line 363, ../../sass/titan/parts.sass */
.mb30 {
  margin-bottom: 30px;
}

/* line 366, ../../sass/titan/parts.sass */
.mt5 {
  margin-top: 5px;
}

/* line 369, ../../sass/titan/parts.sass */
.mt10 {
  margin-top: 10px;
}

/* line 372, ../../sass/titan/parts.sass */
.mt20 {
  margin-top: 20px;
}

/* line 375, ../../sass/titan/parts.sass */
.ml5 {
  margin-left: 5px;
}

/* line 378, ../../sass/titan/parts.sass */
.ml10 {
  margin-left: 10px;
}

/* line 381, ../../sass/titan/parts.sass */
.mr5 {
  margin-right: 5px;
}

/* line 384, ../../sass/titan/parts.sass */
.mr10 {
  margin-right: 10px;
}

/* line 387, ../../sass/titan/parts.sass */
.pr10 {
  padding-right: 10px;
}

/* -------------------------------------------------------
 * 位置ぞろえ
 * ----------------------------------------------------- */
/* line 394, ../../sass/titan/parts.sass */
.vaM {
  vertical-align: middle;
}

/* line 397, ../../sass/titan/parts.sass */
.taL {
  text-align: left;
}

/* line 400, ../../sass/titan/parts.sass */
.taC {
  text-align: center;
}

/* line 403, ../../sass/titan/parts.sass */
.taR {
  text-align: right;
}

/* line 406, ../../sass/titan/parts.sass */
.lh130 {
  line-height: 1.3;
}

/* line 409, ../../sass/titan/parts.sass */
.nowrap {
  white-space: nowrap;
}

/* -------------------------------------------------------
 * フォーム部品
 * ----------------------------------------------------- */
/* line 416, ../../sass/titan/parts.sass */
.i100 {
  width: 100px;
}

/* line 419, ../../sass/titan/parts.sass */
.i150 {
  width: 150px;
}

/* line 422, ../../sass/titan/parts.sass */
.i300 {
  width: 300px;
}

/* line 425, ../../sass/titan/parts.sass */
.i500 {
  width: 500px;
}

/* line 428, ../../sass/titan/parts.sass */
.iBlock {
  width: 100%;
  box-sizing: border-box;
}

/* line 432, ../../sass/titan/parts.sass */
.fcRed {
  color: #cc0000;
}

/* -------------------------------------------------------
 * テキスト
 * ----------------------------------------------------- */
/* line 438, ../../sass/titan/parts.sass */
.colRed {
  color: #cc0000;
}

/* line 441, ../../sass/titan/parts.sass */
.fwB {
  font-weight: bold;
}

/* -------------------------------------------------------
 * ページナビ
 * ----------------------------------------------------- */
/* line 447, ../../sass/titan/parts.sass */
.pagenavi {
  margin: 10px 0;
  padding: 5px;
  background: #eeeeee;
}

/* line 452, ../../sass/titan/parts.sass */
.pagenavi ul {
  margin-top: 5px;
}

/* line 455, ../../sass/titan/parts.sass */
.pagenavi li {
  float: left;
  border-left: 1px solid #cccccc;
  padding: 2px 8px;
  white-space: nowrap;
}

/* line 461, ../../sass/titan/parts.sass */
.pagenavi li.end {
  border-right: 1px solid #cccccc;
}

/* line 464, ../../sass/titan/parts.sass */
.pagenavi li.on {
  font-weight: bold;
}

/* -------------------------------------------------------
 * リスト
 * ----------------------------------------------------- */
/* line 470, ../../sass/titan/parts.sass */
ul.list li {
  border-right: 1px solid #cccccc;
  float: left;
  padding-right: 5px;
  margin-right: 5px;
  white-space: nowrap;
  margin-bottom: 5px;
}

/* line 478, ../../sass/titan/parts.sass */
ul.list li.end {
  border-right: none;
}

/* ストライプリスト */
/* line 482, ../../sass/titan/parts.sass */
.liStripe li {
  padding: 5px 10px;
  color: #666666;
  background: #e9e9e9;
}

/* line 487, ../../sass/titan/parts.sass */
.liStripe li.check {
  background: #dddddd;
}

/* -------------------------------------------------------
 * その他
 * ----------------------------------------------------- */
/* line 493, ../../sass/titan/parts.sass */
.more {
  background: transparent url(/img/common/icon-arrow.gif) no-repeat left center;
  padding-left: 15px;
}

/* line 497, ../../sass/titan/parts.sass */
.modify {
  background: transparent url(/img/common/icn/icn_pen_16.gif) no-repeat left center;
  padding-left: 20px;
  min-height: 16px;
}

/* line 502, ../../sass/titan/parts.sass */
.buttonBlock,
.buttonInline {
  border-radius: 4px;
  text-align: center;
  border: 1px solid #7c8088;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 1px #ebebeb;
  -moz-box-shadow: 0 1px 1px #ebebeb;
  -o-box-shadow: 0 1px 1px #ebebeb;
  -ms-box-shadow: 0 1px 1px #ebebeb;
  box-shadow: 0 1px 1px #ebebeb;
  color: #333333 !important;
  text-decoration: none !important;
  font-weight: bold;
  white-space: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eaeaea));
  background: -moz-linear-gradient(top, white, #eaeaea);
  background: -o-linear-gradient(top, white, #eaeaea);
  background: -ms-linear-gradient(top, white, #eaeaea);
  background: linear-gradient(top, #ffffff, #eaeaea);
  text-shadow: 0 1px 0 white;
  height: 30px;
  line-height: 30px;
}

/* line 526, ../../sass/titan/parts.sass */
.buttonBlock {
  display: block;
}

/* line 529, ../../sass/titan/parts.sass */
.buttonInline {
  display: inline-block;
  padding: 0 10px;
}

/* line 533, ../../sass/titan/parts.sass */
.absmiddle {
  vertical-align: middle;
}

/* line 536, ../../sass/titan/parts.sass */
.nW {
  white-space: nowrap;
}

/* line 539, ../../sass/titan/parts.sass */
.maintext {
  line-height: 140%;
  margin-bottom: 20px;
}

/* line 543, ../../sass/titan/parts.sass */
.snowerIcon {
  vertical-align: middle;
  margin-right: 3px;
  width: 16px;
}
