@charset "euc-jp";
/* -------------------------------------
#header
------------------------------------- */
#header {
    width:860px;
    margin:0 auto;
    padding:15px;
}
#header h1 {
    font-size:250%;
    margin-left:15px;
}
/* -------------------------------------
#footer
------------------------------------- */
#footer {
    margin:0 auto;
    padding:15px;
}
#footer .copyright {
    font-size:110%;
    text-align:center;
}
